<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NotifyIconTitle" value="GRaiN - Google Reader Notifier" />
		<add key="GoogleReaderUrl" value="http://www.google.com/reader/view/" />
		<add key="PreferencesFileName" value="GoogleReaderNotifier.xml" />
	</appSettings>
</configuration>
